.selfie{
    margin-left: 15px;
    margin-top: 15px;
}

.navbar{
    /* padding: 100px; */
    height: 100px;
    background-color: #ddbea9;
}

.navbar-menu{
    margin-top: 15px;
    margin-right: 40px;

}

/* .navbar-end {
    padding:1rem;
} */

/* .navbar-item{
    padding: 100px;
} */